# PyTorch CUDA GPU Acceleration Index
--extra-index-url https://download.pytorch.org/whl/cu121

# Web Framework
Flask==2.3.3
flask-cors
easyocr

# Computer Vision & AI
opencv-python==4.10.0.84
torch>=2.0.0
torchvision
ultralytics

# Data Processing & Scientific Computing
numpy
scipy
pandas
matplotlib
seaborn

# Utilities
requests
Pillow==10.0.0
PyYAML
tqdm
psutil
ipython
pywebview
